@charset "UTF-8";

/* ログインする前のcss */
/* ----------全体設定---------- */
html{
    font-family:Senobi Gothic; /*font-family:ページ全体のフォントを指定*/

    }

/* boxとleft-mageの位置について */
.place {
    display: flex;
    width: 100%;
    margin: 5% 5% 4% 6%;

}

/* 背景色と文字色に関すること */
body {
        background-color: #8BA0B7; /*背景色*/
        color: #294E76; /*文字色*/
        margin: 0px;
      }


/* 要素の並び方に関すること */
.flex {
	display:flex;
	position:relative;
}

/* ページの左側の画像に関すること */
.page-left {
	width: 33.2%;
}
/* それぞれの要素を囲んでる大枠の右側部分の設定 */
.box {
	  background-color: #F3F3F3;
	  position: relative;
      justify-content: center;
      align-items: center;
      width: 65.8%;
      flex-shrink: 0;
      border: solid 0px #F3F3F3;
      min-height: 477px;
       }


/* ログインに戻る右上のロゴアイコンに関する部分の設定るや */
.logo {
	position: absolute;
	left: 80%;
	width: 93.93px;
    height: 105.539px;
    flex-shrink: 0;
}


/* テキストボックスに関する部分の設定 */
.textbox {
	width: 13em;
	max-width: 100%;
	border: none;
	outline: none;
	background-color: #F3F3F3;
	font-size: 27.5px;
	flex-shrink: 0;
	font-family:Senobi Gothic;
	}

/* プレースホルダーの書式設定 */
::placeholder {
	font-family:Senobi Gothic;
}

/* h2タグに関する部分の設定 */
h2 {
	position: absolute;
    left: 12%;
	font-size: 40px;
    letter-spacing: -6.16px;
    flex-shrink: 0;
}

/* messageクラスに関する部分の設定 */
.message {
	position: absolute;
	top: 20%;
	left: 12%;
	font-size: 33px;
	flex-shrink: 0;
}

/* textクラスとtext2クラスに関する部分の設定 */
.text, .text2 {
	position: absolute;
	top: 40%;
	left: 12%;
	font-size: 30.761px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* buttonクラス（submitbutton）に関する部分の設定 */
.button {
	position: absolute;
	top: 80%;
	left: 40%;
	width: 188.704px;
    height: 71.256px;
	border-radius: 67.475px;
	border: 5px solid #294E76;
    background: #FFF;
    color: #294E76;
    text-align: center;
    font-size: 33.738px;
    font-family: Senobi Gothic;
    display:inline-block;
    flex-shrink: 0;
}


/* 秘密の質問画面、PW再設定画面のみ */
/* 秘密の質問（sq-text）と新規パスワード（new-pw-t）のテキスト表示に関する部分の設定 */
.sq-text, .new-pw-t {
	position: absolute;
	top: 35%;
	left: 12%;
	font-size: 30.761px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 秘密の質問の回答（saText）と確認用パスワード（checkPw）のテキスト表示に関する部分の設定 */
.sa-text, .check-pw {
	position: absolute;
	top: 48%;
	left: 12%;
	font-size: 30.761px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}


/* 入力確認画面のみ */
/* regist-nameクラスに関する部分の設定 */
.regist-name {
	position: absolute;
	top: 20%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* regist-idクラスに関する部分の設定 */
.regist-id {
	position: absolute;
	top: 30%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* regist-pwクラスに関する部分の設定 */
.regist-pw {
	position: absolute;
	top: 40%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* regist-enクラスに関する部分の設定 */
.regist-en {
	position: absolute;
	top: 50%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* regist-sqクラスに関する部分の設定 */
.regist-sq {
	position: absolute;
	top: 60%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* regist-saクラスに関する部分の設定 */
.regist-sa {
	position: absolute;
	top: 70%;
	left: 8%;;
	font-size: 17px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* info_check.jspのbuttonに関すること */
.submit {
	position: absolute;
	top: 85%;
	left: 27%;
	width: 188.704px;
    height: 71.256px;
	border-radius: 67.475px;
	border: 5px solid #294E76;
    background: #FFF;
    color: #294E76;
    text-align: center;
    font-size: 33.738px;
    font-family: Senobi Gothic;
    display:inline-block;
}

.cancel {
	position: absolute;
	top: 85%;
	left: 53%;
	width: 188.704px;
    height: 71.256px;
	border-radius: 67.475px;
	border: 5px solid #294E76;
    background: #FFF;
    color: #294E76;
    text-align: center;
    font-size: 33.738px;
    font-family: Senobi Gothic;
    display:inline-block;
}

/* error.jspに関すること */
/* ログイン画面へ戻るアイコンに関する設定 */
.back-login {
	position: absolute;
	top: 45%;
    left: 55%;
	width: 170px;
	height: 166.14px;
	flex-shrink: 0;
}

/* 前の画面へ戻るアイコンに関する設定 */
.page-back {
	position: absolute;
	top: 45%;
    left: 20%;
	width: 220px;
	height: 161.29px;
	flex-shrink: 0;
}

/* ログイン画面へ戻るアイコンに関する設定（前の画面へ戻るアイコンを表示しない時） */
.login-error {
	position: absolute;
	top: 40%;
    left: 40%;
	width: 150px;
	height: 146.14px;
	flex-shrink: 0;
}

/* 前の画面へ戻るアイコンに関する設定（ログインへ戻るアイコンを表示しない時） */
.regist-error {
	position: absolute;
	top: 40%;
    left: 40%;
	width: 220px;
	height: 161.29px;
	flex-shrink: 0;
}

/* login.jspに関するcss */

.login-html {
  display: flex;
  width: 100%;
  margin: 0px;
}

.login-page-left {
	width: 33.2%;
}


.right-content .tab {
  margin-bottom: 10px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top: 0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;

}

.login-html .sign-in,
.login-html .sign-up
{
  display:none;

}

.login-html .tab{
  text-transform:uppercase;
  font-size:25px;
  margin:10px 10px 10px 10px;
  padding-bottom:5px;

  display:inline-block;
  border-bottom:2px solid transparent;
  color: #5C5656;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  border-color:#294E76;
  color: #294E76;
  font-size:35px;
}



.login-form{
  min-height: 400px;
  position:relative;
  perspective:100px;
  transform-style:preserve-3d;
  background-color: #F3F3F3;
  justify-content: center;
  align-items: center;
   width: 66.8%;
  flex-shrink: 0;
  border: solid 0px #F3F3F3;

}

.login-form .group input[data-type="password"]{
  -webkit-text-security:circle;
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

/* ログインの際に必要なID */
.login-id {
	position: absolute;
	top: 25%;
	left: 35%;
	font-size: 37.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
    width: 500px;
}

/* ログインの際に必要なPW */
.login-pw {
	position: absolute;
	top: 45%;
	left: 35%;
	font-size: 37.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 500px;
}

/* ログインボタンと確認ボタンに関すること */
.login-button {
	position: absolute;
	top: 85%;
	left: 65%;
	width: 188.704px;
    height: 71.256px;
	border-radius: 67.475px;
	border: 5px solid #294E76;
    background: #FFF;
    color: #294E76;
    text-align: center;
    font-size: 33.738px;
    font-family: Senobi Gothic;
    display:inline-block;
    flex-shrink: 0;
}

.regist-button {
	position: absolute;
	top: 105%;
	left: 65%;
	width: 188.704px;
    height: 71.256px;
	border-radius: 67.475px;
	border: 5px solid #294E76;
    background: #FFF;
    color: #294E76;
    text-align: center;
    font-size: 33.738px;
    font-family: Senobi Gothic;
    display:inline-block;
    flex-shrink: 0;
}

.id-message {
	position: absolute;
	top: 58%;
	left: 35%;
	font-size: 23px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	flex-shrink: 0;
	width: 500px;
	text-decoration: none;
}

.pw-message {
	position: absolute;
	top: 68%;
	left: 35%;
	font-size: 23px;
	flex-shrink: 0;
	width: 500px;
	text-decoration: none;
}

/* 新規登録の際に必要な名前 */
.new-name {
	position: absolute;
	top: 0%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要なID */
.new-id {
	position: absolute;
	top: 15%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要なPW */
.new-pw {
	position: absolute;
	top: 30%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要なPWの確認 */
.new-pw-co {
	position: absolute;
	top: 45%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要な社員番号 */
.new-en {
	position: absolute;
	top: 60%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要な質問 */
.new-sq {
	position: absolute;
	top: 75%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録の際に必要な質問を選ぶ部分 */
.select-sq {
	font-size: 27.5px;;
	font-family:Senobi Gothic;
	border: none;
	outline: none;
	background-color: #F3F3F3;
	max-width: 100%;


}

/* 新規登録の際に必要な質問の答え */
.new-sa {
	position: absolute;
	top: 90%;
	left: 25%;
	font-size: 27.5px;
	line-height: 48.622px;
	letter-spacing: 2.768px;
	display: inline-block;
	border-bottom: solid 2px #294E76;
	flex-shrink: 0;
	width: 700px;
}

/* 新規登録画面のテキストボックス */
.login-textbox {
	width: 13em;
	max-width: 100%;
	border: none;
	outline: none;
	background-color: #F3F3F3;
	font-size: 17.5px;
	flex-shrink: 0;
	font-family:Senobi Gothic;
	}

/* 新規登録画面のテキスト */
	/*.login-text {
	text-align-last: justify;
	}*/
